################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OrfeoScan_IDU_STRT/bin/Debug/funciones.pdb
/OrfeoScan_IDU_STRT/bin/Debug/iTextSharp.dll
